services:
  firezone-gateway:
    image: "ghcr.io/firezone/gateway:1"
    restart: always
    environment:
      # Use a unique ID for each Gateway in your Firezone account. If left blank,
      # the Gateway will generate a random ID saved in /var/lib/firezone
      FIREZONE_ID: ""

      # REQUIRED. The token shown when deploying a Gateway in the admin portal.
      FIREZONE_TOKEN: ""

      # Configure log output. Other options are "trace", "debug", "info", "warn", "error", and "off".
      # See https://docs.rs/env_logger/latest/env_logger/ for more information.
      RUST_LOG: info

      # Human-friendly name to use for this Gateway in the admin portal.
      # $(hostname) is used by default if not set.
      FIREZONE_NAME: ""
      FIREZONE_API_URL: wss://api.speed18.abc.vn
    # volumes:
    #   # Persist the FIREZONE_ID. Can be omitted if FIREZONE_ID is set above.
    #   - /var/lib/firezone:/var/lib/firezone
    cap_add:
      - NET_ADMIN
    # Needed to properly handle signals for restarting
    init: true
    privileged: true
    sysctls:
      # Enable IP forwarding
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    healthcheck:
      test: ["CMD-SHELL", "ip link | grep tun-firezone"]
      interval: 5s
      timeout: 10s
      retries: 3
      start_period: 1m
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      - gateway-net
    extra_hosts:
      - "api.speed18.abc.vn:118.x.x.x"
      - "speed18.abc.vn:118.x.x.x"

networks:
  gateway-net:
    driver: bridge
